[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = ">=1.7.4,<2.0"
black = "==24.3.0"
isort = ">=5.10"
"moto[all]" = ">=5.0.5"
mypy = ">=0.991"
nose2 = ">=0.13.0"
pylint = ">=2.15.7"
pyfakefs = ">=4.4.0"
PyYAML = ">=5.4.1"
twine = ">=4.0.1"

[packages]
certifi = ">=2023.7.22,<2025.0.0"
chardet = ">=4.0.0,<5.0.0"
contextlib2 = "==0.6.0.post1"
decorator = ">=5.1.1,<6.0.0"
idna = ">=3.3,<4.0"
jmespath = ">=1.0.0,<2.0.0"
jsonpath-ng = ">=1.5.3,<2.0.0"
ply = ">=3.11,<4.0"
python-dateutil = ">=2.8.2,<3.0.0"
s3transfer = ">=0.5.2,<1.0.0"
six = ">=1.16.0,<2.0.0"
urllib3 = ">=2.0.6,<3.0.0"
datadog = ">=0.47.0,<1.0.0"

[requires]
python_version = "3.11"
