name: Build, Test, Publish Github and PyPI Releases

permissions:
  contents: write

on:
  workflow_dispatch:

jobs:
  publish_github_release_and_pypi:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.PANTHER_BOT_AUTOMATION_TOKEN }}

    steps:
      - name: Check out the repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          fetch-depth: 0
          token: ${{ env.GITHUB_TOKEN || github.token }}

      - name: Set up Python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b
        with:
          python-version: "3.11"

      - name: Install pip and pipenv
        run: |
          python -m pip install --root-user-action=ignore --upgrade pip
          pip install --root-user-action=ignore pipenv
          pipenv install --dev

      - name: Install Build and Test
        run: |
          make package

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec #v6.3.0
        with:
          gpg_private_key: ${{ secrets.PANTHER_BOT_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PANTHER_BOT_GPG_PRIVATE_KEY_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Create Github Release
        run: |
          export NEW_VERSION=$(cat VERSION)
          git config user.name "panther-bot-automation"
          git config user.email "github-service-account-automation@panther.io"
          gh release create v$NEW_VERSION dist/* -t v$NEW_VERSION --draft
        env:
          GH_TOKEN: ${{ secrets.PANTHER_BOT_AUTOMATION_TOKEN }}

      - name: Publish to PyPI
        run: |
          pipenv run twine upload dist/*
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
