name: Version Bump PR

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
    inputs:
      bump_type:
        description: 'Version Bump Type (major, minor, patch)'
        required: true
        default: 'minor'

jobs:
  version_bump_pr:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.PANTHER_BOT_AUTOMATION_TOKEN }}

    steps:
      - name: Check out the repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          fetch-depth: 0
          token: ${{ env.GITHUB_TOKEN || github.token }}

      - name: Bump version
        id: bump_version
        run: |
          BUMP_TYPE="${{ github.event.inputs.bump_type || 'patch' }}"
          
          case "$BUMP_TYPE" in
            major)
              NEW_VERSION=$(cat VERSION | awk -F. '{printf "%d.0.0", $1+1}')
              ;;
            minor)
              NEW_VERSION=$(cat VERSION | awk -F. '{printf "%s.%d.0", $1, $2+1}')
              ;;
            patch)
              NEW_VERSION=$(cat VERSION | awk -F. '{printf "%s.%s.%d", $1, $2, $3+1}')
              ;;
            *)
              echo "Error: Invalid bump type"
              exit 1
              ;;
          esac
          
          echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT
          echo $NEW_VERSION > VERSION
          sed -i "s/VERSION = \"[0-9]*\.[0-9]*\.[0-9]*\"/VERSION = \"$NEW_VERSION\"/" setup.py

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec #v6.3.0
        with:
          gpg_private_key: ${{ secrets.PANTHER_BOT_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PANTHER_BOT_GPG_PRIVATE_KEY_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Create Branch and Pull Request
        run: |
          NEW_VERSION="${{ steps.bump_version.outputs.new_version }}"
          git config user.name "panther-bot-automation"
          git config user.email "github-service-account-automation@panther.io"
          git checkout -b "$NEW_VERSION"
          git commit -a -m "Bump version to $NEW_VERSION"
          git push --set-upstream origin "$NEW_VERSION"
          gh pr create -t "Version bump to v$NEW_VERSION" -b "Bumping Version to v$NEW_VERSION ahead of release."
        env:
          GH_TOKEN: ${{ secrets.PANTHER_BOT_AUTOMATION_TOKEN }}
